<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9dPbhbQQudovZUWBuEZ26sYYJRx3NyBY</string>
	<key>GCM_SENDER_ID</key>
	<string>936606784953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.singh.adarsh.swift-login-system</string>
	<key>PROJECT_ID</key>
	<string>swift-login-system-c1e15</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-login-system-c1e15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936606784953:ios:dac765d24f6b19965bea68</string>
</dict>
</plist>